@page "{ProduktId:int}"
@model eShopWeb.Pages.DetailProduktModel
@{
    ViewData["Title"] = Model.Produkt.ProduktNavn;
}

<h2>@Model.Produkt.ProduktNavn</h2>
@if (@Model.Produkt.ProduktFoto.Select(c => c.FotoUrl).Count() >= 1)
{
    <img class="card-img-top" src="@Model.Produkt.ProduktFoto.Select(c=>c.FotoUrl).First() ">
}
else
{
    <img class="card-img-top" src="https://cdn.vanderbilt.edu/vu-wp0/wp-content/uploads/sites/181/2019/09/09091628/Image-Coming-Soon.png">

}
<p>@Model.Produkt.Kategori.KategoriNavn</p>
<p>@Model.Produkt.Producent.ProducentNavn</p>

<div>
    Pris: @Model.Produkt.Pris
</div>
<div>
    <a asp-page="./Index">Tilbage til forsiden</a>
</div>